---
layout: archive
title: "Photography"
permalink: /photography/
author_profile: true
---

<p>I was never a photographer, but I always enjoyed taking pictures. I started with a Sony Cybershot DSC-HV10V, which I used from 2013 to 2019. I switched to a Sony RX100-VA from 2019 to 2020. Beginning in 2021, I am using a mobile phone for my pictures and a DJI Mini 2 drone for aerial photos and aerial filmography. Below I have shared links and photo collages (favorite 4 per country) of the countries I have visited. When you click on a country's link, it will take you to a page where I have provided more photos from various hikes, along with a brief description of my experience in the country. As you will observe, I mostly take pictures of mountains. The reason is that I enjoy going to the mountains a lot. However, my feelings about mountains are not those of a tourist or an athlete who wants to conquer mountains. In this regard, I would like to quote from the book <i>Above the Clouds: The Diaries of a High-Altitude Mountaineer</i> the following: </p>

<blockquote>
	Mountains are not stadiums where I satisfy my ambitions to achieve. They are cathedrals, grand and pure, the houses of my religion. I approach them as any human goes to worship. On their altars I strive to perfect myself physically and spiritually. In their presence I attempt to understand my life, to exorcise vanity, greed, and fear. From the vantage of their lofty summits, I view my past, dream of the future, and with unusual acuteness I experience the present moment. That struggle renews my strength and clears my vision. In the mountains I celebrate creation, for on each journey I am reborn.
</blockquote>

{% include base_path %}

{% for post in site.photography %}
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a><br/>
{% endfor %}

{% for post in site.photography %}
  {% include archive-single.html %}
{% endfor %}