---
layout: archive
title: "Photography"
permalink: /photography/
author_profile: true
---

<p>I was never a photographer, but I always enjoyed taking pictures. I started with a Sony Cybershot DSC-HV10V which I used from 2013 to 2019, and then I switched to a Sony RX100-VA from 2019 to 2020. Starting from 2021 I am using a mobile phone for my pictures and a DJI Mini 2 drone for aerial photos and aerial filmography. Below I have shared links and photo collages (favorite 4 per country) of the countries I have visited. When you click on link of the country, it should take you to a page where I have provided more photos from various hikes, along with descriptions of the country, its people, culture, food, and landscapes. As you will observe, I mostly take pictures of mountains. The reason is that I enjoy going to mountains a lot. Having said that my feelings about mountains are not of a tourist or an athlete who wants to conquer mountains. I would like to quote from the book 'Above the Clouds: The Diaries of a High-Altitude Mountaineer' the following: </p>

<blockquote>
	Mountains are not stadiums where I satisfy my ambitions to achieve. They are cathedrals, grand and pure, the houses of my religion. I approach them as any human goes to worship. On their altars I strive to perfect myself physically and spiritually. In their presence I attempt to understand my life, to exorcise vanity, greed, and fear. From the vantage of their lofty summits, I view my past, dream of the future, and with unusual acuteness I experience the present moment. That struggle renews my strength and clears my vision. In the mountains I celebrate creation, for on each journey I am reborn.
</blockquote>

{% include base_path %}

{% for post in site.photography %}
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a><br/>
{% endfor %}

{% for post in site.photography %}
  {% include archive-single.html %}
{% endfor %}