---
layout: archive
title: "Videography"
permalink: /videography/
author_profile: true
---

<p>Starting 2021 I have decided to put time and effort to learn to make timelapse videos of nature. Some of my early efforts are available on this page.</p>

<i> Sunrise over Rotterdam </i>
<iframe width="480" height="270" src="https://www.youtube.com/embed/AdIGVKcXPsw?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!--{% include base_path %}

{% for post in site.videography %}
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a><br/>
{% endfor %}

{% for post in site.videography %}
  {% include archive-single.html %}
{% endfor %}-->