---
layout: archive
title: "Videography"
permalink: /videography/
author_profile: true
---

<p>Starting 2021 I have decided to put time and effort to learn to make timelapse videos of nature. Some of my early efforts are available on this page. I have also put them on my <a href="https://www.youtube.com/channel/UCYtXVdasEMekWSuTkl8msNA">YouTube channel</a></p>

<i> Colombey-lès-Choiseul (Haute Marne, France) </i>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F01eykxmGPk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!--{% include base_path %}

{% for post in site.videography %}
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a><br/>
{% endfor %}

{% for post in site.videography %}
  {% include archive-single.html %}
{% endfor %}-->